In [5]:
from statsmodels.formula.api import ols
import pandas as pd

In [11]:
df = pd.read_csv("internet.csv")
print(df.shape)
df.head()

(212, 3)

       Country   Gdp   Int
0  Afghanistan   1.0   3.4
1      Albania   7.4  43.4
2      Algeria   7.4  13.4
3      Andorra  46.7  79.1
4       Angola   8.7   4.5

In [15]:
formula = "Int ~ Gdp"

model = ols(formula, df)

In [31]:
model.fit()